.galleryList {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(280px, 1fr)
  ); /* Замість auto-fit */
  gap: 16px;
  width: 100%;
  max-width: 1440px;
  margin: 40px auto 0;
  padding: 0;
  list-style: none;
}
