.buttonWrap {
  margin-top: 10px;
}

/* .button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 24px;
}

.button:hover {
  background-color: #0056b3;
} */
.button {
  font-family: 'IBM Plex Mono', serif;
  position: relative;
  margin: 30px auto 10px;
  padding: 10px 20px; /* Простір навколо тексту та іконки */
  display: flex; /* Для вирівнювання тексту та іконки */
  align-items: center; /* Вертикальне вирівнювання */
  gap: 8px; /* Відстань між іконкою та текстом */
  background-color: transparent;
  color: #ffffff; /* Чорний колір тексту та іконки */
  border: 3px solid rgba(56, 182, 255, 0.5);
  border-radius: 50px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.2s ease;
}

.button:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0; /* Початкове положення псевдоелемента */
  width: 0; /* Початкова ширина — невидимий */
  height: 100%; /* Висота рівна висоті кнопки */
  background: rgba(250, 246, 0, 0.7); /* Світло-рожевий */
  border-radius: 50px;
  transition: all 0.3s ease; /* Плавний перехід */
  z-index: -1;
}

.button:hover {
  border: 3px solid white;
}

.button:hover:before {
  width: 100%; /* Розтягується на всю ширину кнопки при наведенні */
  background: rgba(56, 182, 255, 0.5); /* Насичений рожевий */
}

.button span {
  font-size: 24px;
  text-transform: uppercase;
  position: relative;
  line-height: 18px;
  vertical-align: middle;
}

.button:active {
  transform: scale(0.96);
}
